body {
    background-color: rgb(102, 132, 146);
}
h1 {
    text-align: center;
}
input {
    border: #444 solid 1px;
    border-radius: 30px;
    font-size: 20px;
}
p {
    font-size: 20px;
}
* {
    text-align: center;
}
button {
    margin: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
    border: rgb(155, 155, 155) solid 2px;
    border-radius: 15px;
}
#tudo {
   
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(50deg,black, rgb(55, 181, 190));
}
#idade{
    width: 30vh;
}
#altura {
    width: 30vh;
}
#peso {
    width: 30vh;
}
#hm {
    background-color: rgb(29, 128, 128);
    display: inline-block;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 160px;
    border: solid 2px rgb(29, 128, 128);
    border-radius: 20px;
}
#mh {
    background-color: rgb(29, 128, 128);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    width: 160px;
    border: solid 2px rgb(29, 128, 128);
    border-radius: 20px;
    margin: 3px;
}
a {
    color: rgba(0, 0, 0, 0);
}